<!--Create a homepage accessible at the root URL of the site (that is, http://localhost:3000) that contains a link to the contact page.-->



<h1> Home </h1>

<p> Welcome to my rails project.</p>
<p> To complete the contact form, <a href="/contact">click here. </a> </p>